.AddNewsBar {
	position: fixed;
	bottom: -20rem;
	left: 50%;
	transform: translateX(-50%);
	background: $dark-gray;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	width: 50vw;
	@include flex-between;
	padding: 1.6rem 2.4rem 1.1rem 2.4rem;
	@include trans;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	&.raised {
		bottom: 0;
		box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.4);
	}
	@include media('<desktop') {
		width: 70vw;
	}
	@include media('<phone') {
		width: 90vw;
	}
}
.AddNewsBar__input {
	width: calc(100% - 3.2rem);
	background: $dark-gray;
	border: 0;
	outline: none;
	font-size: $p-desktop;
	color: $white;
	resize: none;
}
.AddNewsBar__icon {
	font-size: $p-desktop;
	color: $text-dark-gray;
	padding-bottom: 0.2rem;
	position: absolute;
	top: 1.6rem;
	right: 2.4rem;
	@include text-trans;
	&:hover {
		cursor: pointer;
		color: $text-gray;
	}
}
.AddNewsBar__error {
	position: absolute;
	top: -2.4rem;
	left: 0;
	font-size: $p-small-desktop;
	color: #fc5656;
	animation: 0.15s ease-in-out slideIn forwards;
}
@keyframes slideIn {
	0% {
		opacity: 0;
		left: -2.4rem;
	}
	70% {
		opacity: 1;
		left: 1.6rem;
	}
	100% {
		left: 0;
	}
}
.AddNewsBar__controls {
	position: absolute;
	top: -3.4rem;
	right: 0;
	p {
		font-size: 1.2rem;
		text-align: right;
		margin-bottom: 0.2rem;
	}
}
