.SingleNews {
	position: relative;
	margin-bottom: 1.6rem;
	background: $dark-gray;
	padding: 1.6rem;
	border-radius: 0.5rem;
	color: $text-gray;
	animation: 0.6s ease-in-out fadeIn forwards;
	&:first-child {
		margin-top: 3.2rem;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:hover .SingleNews__delete {
		display: block;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		background: lighten($dark-gray, 10%);
		color: lighten($dark-gray, 10%);
	}
	30% {
		opacity: 1;
		background: lighten($dark-gray, 10%);
		color: lighten($dark-gray, 10%);
	}
	100% {
		background: $dark-gray;
		color: $text-gray;
		opacity: 1;
	}
}
.SingleNews__footer {
	margin-top: 3.2rem;
	@include flex-between;
}
.SingleNews__footer--author {
	font-weight: 500;
}
.SingleNews__deleteWrapper {
	position: absolute;
	top: 0;
	right: -6rem;
	width: 4rem;
	transform: translate(-50%);
	height: 100%;
	@include flex-center;
	&:hover .SingleNews__delete {
		display: block;
	}
}
.SingleNews__delete {
	color: $red;
	font-size: $p-desktop;
	display: none;
	animation: 0.2s ease-in-out simpleFadeIn forwards;
	&:hover {
		cursor: pointer;
	}
}
@keyframes simpleFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
