.Header {
	@include flex-between;
	background: $darkest-gray;
	color: $white;
	padding: 0 3.2rem;
	height: 8rem;
}
.Header__title {
	font-size: $h2-desktop;
}
.Header__logout {
	color: $text-dark-gray;
	font-size: $p-desktop;
	@include text-trans;
	&:hover {
		color: $white;
	}
}
